*{
    background-color: black;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card1{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
}
.card1 img{
    width: 290px;
    height:150px ;
    margin: 4px ;
}
.card1 h1{
    color:black;
    background-color: white;
}
.card1 p{
    color: black;
    background-color: white;
    margin-left: 2px;
}
.card2{
    width: 300px;
    height: 400px;
    background-color: white;
    margin-left: 10px;
    border-radius: 4px;
}
.card3{
    width: 300px;
    height: 400px;
    background-color: white;
    margin-left: 10px;
    border-radius: 4px;
}
.card2 img{
    width: 290px;
    height:150px ;
    margin-left: 4px ;
}
.card2 h1{
    color:black;
    background-color: white;
}
.card2 p{
    color: black;
    background-color: white;
    margin-left: 2px;
}
    .card3 img{
        width: 290px;
        height:150px ;
        margin-left: 4px ;
    }
    .card3 h1{
        color:black;
        background-color: white;
    }
    .card3 p{
        color: black;
        background-color: white;
        margin-left: 2px;
    }