*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box; 
}
  body{
    background-color: #111;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}
.heart{
    height: 70px;
    width: 70px;
    background-color: black;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 20px 90px yellow;
    animation: he 2s linear infinite;
    left: 0%;
    top: 2%;
    z-index: 1;
}
.heart::before{
  height: 70px;
  width: 70px;
  background-color: black;
  top: -50%;
  position: absolute;
  content: '';
  border-radius: 50px;
}
.heart::after{
  height: 70px;
  width: 70px;
  background-color: black;
  right: -50%;
  position: absolute;
  content: '';
  border-radius: 50px;
}
@keyframes he{
  0%{
    transform: rotate(-45deg) scale(1.09);
  }
  80%{
    transform: rotate(-45deg) scale(1.0);
  }
  100%{
    transform: rotate(-45deg) scale(1.02);
  }
}
.circle{
  height: 400px;
  width: 400px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid skyblue;
  animation: cir 2s linear infinite;
  position:absolute;
  z-index: 3;
  
}
@keyframes cir {
  from{
    transform: rotate(-45deg);
  }
  to{
    transform:rotate(360);
    background-color: skyblue;
    transition: 2s;
    border: 2px solid orange;
  } 
}
.square{
  height: 500px;
  width: 500px;
  background-color: yellowgreen;
  border: 2px solid skyblue;
  animation: sq 2s linear infinite;
  position:absolute;
  
}
@keyframes sq{
  from{
    transform: square(-45deg);
  }
  to{
    transform:square(360);
    background-color: red;
    transition: 2s;
    border: 2px solid yellow;
  } 
}